*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
body{
    background-image: url(img/france.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}
/* HEADER */
header{
    background: #ffffff63;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid #fff;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
}
header span{
    white-space: nowrap;
}
header span:hover{
    color: orange;
    cursor: pointer;
}
nav{
    white-space: nowrap;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav a:hover{
    color: orange;
}
button{
    background-color: orange;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    scale: 1.03;
}
#menu-icon{
    display: none;
}
@media (max-width: 620px) {
    #menu-icon{
        display: block;
    }
    nav{
        display: none;
    }
    .action_btn{
        display: none;
    }
}
/* MENU */
.dropdown_menu{
    background-color: #ffffff81;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    position: absolute;
    top: 100px;
    right: 50px;
}
.dropdown_menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.dropdown_menu a:hover{
    color: orange;
}
.dropdownmenu-btn{
    width: 80%;
}